<div id='frmlogin' class="frmlogin"  >
    <form id= 'empresa' method="post" action="/usuarios">
        <label for = "login">Login</label> </br>
            <input required id='login' name ='login'type = 'text' class="inputform" /></br>
        <label for = "senha">Senha</label> </br>
            <input id='senha' type = 'text' name='senha' class="inputform"/></br>
        <label for = "confsenha">Confirma Senha</label> </br>
            <input id='confsenha' type = 'text' name='confsenha' class="inputform"/></br>
        <input type ='submit' value = 'Grava' class = 'submit' id= 'entrar'formaction='/gravasenha'>
    </form>
</div>
    <p>{{message}}</p>