<div>
  <h1>Cadastro de Empresa</h1>

<form id="empresa" method="post" action="/empresas">
  <div class="form-group" id="dados">
    <label for="razao:empresa"> Razão Social</label>
      <br />
      <input class="form-control" required id="razao:empresa" name="razao_social" type="text" size="30" maxlength="30" />
      <br />
      <label for="cnpj:empresa"> CNPJ </label>
      <br />
      <input  class="form-control" id="cnpj:empresa" type="text" name="cnpj" size="15" maxlength="18" onkeyup="this.value = mask.cnpj(this.value)"/>
      <br />
      <input class="btn btn-primary" type="submit" value="Grava" class="submit" id="btgravaempresa" formaction="/gravaempresa"/>
      <table class="table table-striped table-responsive" id="tbempresa">
      <tr>
        <th> Código </th>
        <th> Razão Social </th>
        <th> Cnpj </th>
        <th> Excluir </th>
      </tr>
      {{#each empresas}}
        <tr>
          <td>
            {{id}}
          </td>
          <td>
            {{razao_social}}
          </td>
          <td>
            {{cnpj}}
          </td>
          <td>
            <a href="/excluiempresa{{id}}">
              Excluir
            </a>
          </td>
        </tr>
      {{/each}}
    </table>
  </form>
</div>
