<h1>Cadastro de Feriados</h1>
    <form id= 'feriado' method="post">
        <div id = 'dados'>
            <label for = "data">Data</label> 
            <input required type="date" name = 'data' /><br><br>
            <label  for = "descricao">Descrição</label> 
            <input required id='descricao'name='descricao' type = 'text' size="30" maxlength="30"/>
            <div id ='controles'>
            
            <input type ='submit' value = 'Grava' id= 'btgrava:feriado' formaction="/gravafer" >
            
            <input type ='submit' value = 'Pesquisa' id= 'pesquisa:feriado' formaction="/feriados">
        
            <table>
                <tr>
                    <th>ID</th>
                    <th>Data</th>
                    <th>Descrição</th>
                    <th>Excluir</th>
                </tr>
                {{#each feriados}}
                <tr>
                    <td>{{id}}</td>
                    
                   <td> <input type="date" value= {{{trimString data}}} />
                   <td>{{descricao}}</td>

                    <td><a href ='/excluiferiado{{id}}'>Excluir </a> </td>
                </tr>
                {{/each}}
                
            </table>
            
        </div>
            
        </div>
    </form>