
<link rel="stylesheet" type="text/css" href= "/style.css">

<h1>Login</h1>

<div id="frmlogin"  class='frmlogin'>
    <form action="/login" method="post">
      <label>Usuário</label>
            <input type="text" name="user" id="user" class="inputform"><br>
        <label for="senha">Senha</label></br>
            <input type="password" name="password" class="inputform">
        <input type="submit" value = 'entrar' id= 'entrar'class='submit'>
    </form>
    <p>{{message}}</p>
</div>
