<Div>
    <h1>Gerar Ponto</h1>
    <form action="/livroponto" method="post">
        <div class="form-control" id='divponto'>
            <label for='razao'>Razão Social:</label>
            <a id="razao" size="30" maxlength="30">{{empregados.empresa.razao_social}} </a><br><br>
            <label for="nome">Nome: </label>
            <a id="nome">{{empregados.nome}} <a /><br><br>
                <label for="periodo">Período:</label>
                <input type="text" id="periodo" size="3px" maxlength="7" data-js="periodo" name="competencia"
                    onkeyup="this.value = mask.periodo(this.value)" required>
        </div>
        <button class = "btn btn-primary" >Gerar Ponto</button>
    </form>

    <input name='idfunc' value={{empregados.id}} hidden>
</Div>