<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Ponto</title>

   
</head>
 
<header>
    <nav class ='menu'>
         <ul>
		   <li><a>Controle</a>
                <ul>
                    <li><a href =usuarios.html target ='popup' onclick="window.open('/usuarios','popup'); return false;">Cadastro de usuários</a> </li>
                    <li><a href =cademp.html target ='popup' onclick="window.open('/empresas','popup'); return false;">Cadastro de Empresa</a> </li>
                    <li><a href =cadfunc.html target ='popup' onclick="window.open('/empregados','popup'); return false;">Cadastro de Funcionários</a></li>
                    <li><a href =cadfer  target ='popup' onclick="window.open('/feriados','popup'); return false;">Cadastro de Feriados</a></li>                
                    <li><a href =pesquisa  target ='popup' onclick="window.open('/pesquisa','popup'); return false;">Processos</a></li>
                </ul>
	       </li>
        </ul>
	</nav>
</header>

<body>
    <div id = 'headers'>
    {{{body}}}
    </div>
<script rel= 'text/javascript' src="/script.js"></script>
<link rel="stylesheet" type="text/css" href= "/style.css">

</body>

</html>